= form_for @league, :html => { :class => 'form-horizontal', multipart: true } do |f|
  .form-group{class: "#{'has-error' if @league.errors[:name].present?}"}
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control', maxlength: 255
  = f.submit nil, :class => 'btn btn-primary'
