%h1= @player.name

%dl
	%dt Name
	%dd= @player.name
	%dt Team
	%dd= @player.team.name

=link_to "#{@player.name} bearbeiten", edit_league_player_path(@league, @player)
|
=link_to "Alle Spieler in #{@league.name}", league_players_path(@league)