!!! 5
%html{lang: 'en', 'xmlns:og' => 'http://ogp.me/ns#' }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - if content_for? :meta_extra
      = yield(:meta_extra)

    - titles = ['KCM Draft']
    - if content_for?(:title)
      - titles << yield(:title)
    %title=  titles.join(' | ')
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"


  %body
    .container
      .row
        .col-lg-12
          - if flash[:error].present?
            .alert.alert-danger{role: 'alert'}= flash[:error]
          - if flash[:info].present?
            .alert.alert-success{role: 'alert'}= flash[:info]
          = yield

    = javascript_include_tag "application"
    - if content_for?(:js_footer)
      = yield :js_footer